package base

templ Layout() {
	<html lang="en">
		<head>
			<link href="/static/css/style.css" rel="stylesheet" />
		</head>
		<body>
			<div>
				<h1>Layout Base</h1>
				{ children... }
			</div>
		</body>
	</html>
}
